	/* http://cssizer.com/ */

	TD {vertical-align:top;direction:ltr;unicode-bidi:embed;text-align:left;font-size:120%;}
	TD.h {vertical-align:top;direction:rtl;unicode-bidi:embed;text-align:right;font-size:165%;font-family:David;}
	TD.m {vertical-align:middle;direction:ltr;unicode-bidi:embed;text-align:left;font-size:120%;}

	div.changeLanguage div { display:inline-block;
		float:right; width:30%; font-size:100%;font-family:David; padding:5px;
		height:20; border-color:black; border-style: solid; 
		border-width: 20px; border-radius: 5px; margin:auto;}

	/* each word takes 14% of the space */
	div.eight_w_verses div { display:inline-block;
		float:right; width:10%; text-align:right; font-size:100%;font-family:David; padding:5px;}

	/* each word takes 14% of the space */
	div.Transliteration_n_Strongs div { display:inline-block;
		float:right; width:10%; text-align:right; font-size:100%;font-family:David; padding:5px;}